<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Foodmap</title>
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="icon" href="../assets/images/foodmap-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container">

    <header >
      <h1 class="container__title--primary text-center">Foodmap</h1>
    </header>

    <div class="container__separator">
      <div class="inline-block cuadrado pull-left"></div>
      <hr class="hr--styles inline-block">
      <div class="inline-block cuadrado pull-right"></div>  
    </div>

    <div class="row">
      <br>
      <div class=" col-xs-10 col-xs-offset-1 container__map padding-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15603.282535254782!2d-77.04229857950648!3d-12.124421862648624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurantes+miraflores!5e0!3m2!1ses-419!2spe!4v1514887344224" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="container__title--primary text-center">Comida cerca de ti </h2>

   <div class=" container-fluid row">
      <div class="form-group col-xs-12">        
        <div class="input-group">
          <input type="text" class="form-control input-js" id="exampleInputAmount" placeholder="Búsqueda por nombre">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        </div>
      </div>
    </div>

    <div class="container-images container-fluid padding-0 container-image-js  ">      

      
    </div>

    <!--MODAL-->

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modal">
      <div class="modal-dialog " role="document">
        <div class="modal-content modal--bg1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="title-size title-modal---primary title-modal-js"></h1>
          </div>
          <div class="modal-body modal-flex modal-flex">
            <div class="figure-size"> 
              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15603.282535254782!2d-77.04229857950648!3d-12.124421862648624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurantes+miraflores!5e0!3m2!1ses-419!2spe!4v1514887344224" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="container-data-modal modal-flex-container ">
              <div class="modal-item modal-flex">
                <h3 class="item-title-size  text-center title-modal---primary">Horario de atención <i class="fa fa-clock-o"></i></h3>
                <p class=" text-center item-text-size text--grey opening-hours-js"></p>
              </div>
              <div class="modal-item modal-flex">
                <h3 class="item-title-size  text-center title-modal---primary" >Escala de precios <i class="fa fa-money"></i></h3>
                <p class=" text-center item-text-size text--grey average-cost-js"></p>
              </div>
              <div class="modal-item modal-flex">
                <h3 class="item-title-size  text-center title-modal---primary" >Delivery <i class="fa fa-motorcycle"></i></h3>
                <p class=" text-center item-text-size delivery-js"> <i class="fa fa-check-circle icon-js"></i></p>
              </div>
              <div class="modal-item modal-flex">
                <h3 class="item-title-size text-center title-modal---primary" >Comentarios <i class="fa fa-users"></i></h3>
                <p class=" text-center item-text-size text--grey rating-js"></p>
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-warning text-uppercase section__button">Pedir Ahora</button>
          </div>
        </div> 
      </div>
    </div> 

  </div>
 
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/home.js"></script> 
</body>
</html>