<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foodmap</title>
  <link rel="stylesheet" href="../vendors/BOOTSTRAP-4/css/bootstrap.min.css">
  <link rel="icon" href="../assets/images/foodmap-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <nav class="navbar bg-principal">
    <a class="navbar-brand text-white" href="#">
      <i class="fas fa-arrow-left"></i>
    </a>
  </nav>
  <div class=" bg-default w-100 vh-100 container-fluid">

    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10  ">
        <br>
        <br>
        <h1 class="text-center style-principal-title color-principal">Sign Up</h1>
        <p class="text-center">
          <small>Nice to meet you</small>
        </p>
        <br>
        <div class="form-group">
          <input type="email" class="form-control email-js " id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control password-js"  id="exampleInputPassword1" placeholder="Password">
        </div>
        <button class="btn text-uppercase text-white btn-register-styles btn-block register-form-js"> sign up </button>

      </div>
    </div>

  </div>
<!--Firebase init  -->
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="../vendors/BOOTSTRAP-4/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>